/* @font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Light.otf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-LightItalic.otf);
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Book.otf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BookItalic.otf);
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../assets/fonts/CircularStd-Medium.otf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-MediumItalic.otf);
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Bold.otf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BoldItalic.otf);
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Black.otf);
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Circular";
  src: url(../fonts/CircularStd-BlackItalic.otf);
  font-weight: 900;
  font-style: italic;
} */
* {
  font-family: "Circular", sans-serif;
}
body {
  margin: 0;
  box-sizing: content-box;
}
/* COLONNA SINISTRA */
.navbar-collapse {
  margin-inline-start: 20px;
}

p {
  font-size: 15px;
  font-weight: 500;
  color: gray;
}
.hr {
  border-top: 1px solid gray;
}
/* COLONNA CENTRALE */
.bi-chevron-left,
.bi-chevron-right {
  border-radius: 100%;
}
.profile {
  border-radius: 50px;
  background-color: #090909;
  color: white;
  padding: 1px 0 1px 0;
}
/* Da mandare a Marione */
.imgProfile {
  margin-inline-start: -10px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  vertical-align: middle;
}

.nav-link:focus,
.nav-link:hover {
  color: white;
}
.btn {
  background-color: #090909;
  padding-block: 0px;
  padding-inline-start: 0px;
}
.dropdown-toggle::after {
  vertical-align: middle;
}
